body { font-family: Helvetica, Arial, sans-serif; background: #eee;
border: 0px; margin: 0px; }

#wrap { background:#99c; }

#header { background:#ddd; height: 100px; }

#main { float: left; width: 100%; margin-right: 250px; background:#9c9; }

#sidebar { float:left; width:250px; margin-left: -250px;
background:#99c; }

#footer { clear:both; background:#cc9; }
