/* Common styles */
.poll h2 {
    color: #751D00 !important; font: 18px "Times New Roman", Times, serif;
    margin-left: 10px;
}
.poll h1 { color: #333 !important; font: 18px "Times New Roman", Times, serif; }
.poll h3 { color: #333 !important; font: 24px 'Times New Roman', Times, serif; }
.poll a:link, .poll a:active, .poll a:visited { color: #333 !important; }
.poll a:hover { color: #333; text-decoration: underline; }

div.pollForm { margin: 10px; }
/* Form view styles */
.pollForm ul { list-style-image: url(/images/arrow.gif); list-style-position: outside; font-weight: bold; margin: 0; margin-left: 25px; padding: 0; margin-top: 5px; height: auto; width: auto; float: left; }
.pollForm UL.inline LI {
    display: inline;
    margin-right: 0.5em;
    /*white-space: nowrap;*//* Would use nowrap if it did not break in IE. */
    }

/* Result page styles */
.pollResult {
    background-color: white;
    padding: 20px;
}

.pollResult H2.thanks {
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 1em;
}

.pollResult TABLE.resultTable {
    margin: 1em 0;
}

.pollResult TABLE.resultTable TD {
    vertical-align: middle;
    padding-bottom: 2px;
}

.pollResult TD.label {
    padding-right: 10px;
}

.pollResult TABLE.resultTable TD.bar {
    width: 200px;
    padding-right: 10px;
}

.pollResult TD.bar DIV.bar {
    border-top: solid 1px #fff;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    border-left: solid 1px #fff;
    background-color: #333;
    font-size: 11px;
}

.pollResult TD.percent {
    padding-right: 10px;
    color: #333;
}

.pollResult TD.rawResult {
    padding-right: 10px;
    color: #666;
}

.pollResult .footer {
    text-align: center;
}
